@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Salsa", sans-serif, Helvetica;
    color: #00203FFF;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #278be2;
}

button:hover {
    cursor: pointer;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.main-title h1 {
    font-size: 80px;
    margin-bottom: 50px;
}

.main-title h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.main-title h3 {
    font-size: 30px;
    margin-bottom: 50px;
}

.main-title button {
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 10px;
}